
.home .hero img {
    max-width: 450px !important
}

:root {
    --vp-c-text: #2A294B;
    --vp-c-accent: #8818f8;
    --vp-c-accent-bg: #ca95ff;   

    --content-drawer-bg: #e9e0f3;
    --content-drawer-bg-hover: #e2cef5;
    --content-drawer-border-color: #a573d6;
  
    --kistan-exclusive-accent: rgb(101, 83, 202);
    --kistan-exclusive-border: hsl(252, 79%, 87%);
    --kistan-exclusive-background: rgb(237, 235, 255);
    --kistan-exclusive-bg-alt: rgb(217, 204, 241);

    
    --tree-node-bg: #efddf7;
    --tree-node-border: #dc85f7;
    --tree-bg: #f9f2fa;
    --tree-border: #e08cfa;
}

[data-theme='dark'] {
    --vp-c-text: #E2E2F8;
    --vp-c-accent: #b469ff;
    --vp-c-accent-bg: #b469ff;


    --content-drawer-bg: #201829;
    --content-drawer-bg-hover: #232230;
    --content-drawer-border-color: #7438af;
  
    --kistan-exclusive-accent: #aeb5f5;
    --kistan-exclusive-border: rgb(34, 39, 68);
    --kistan-exclusive-background: rgb(23, 27, 43);
    --kistan-exclusive-bg-alt: rgb(17, 21, 37);
  
    --deprecated-exclusive-accent: #faefff;
    --deprecated-exclusive-border: #332525;
    --deprecated-exclusive-background: #291b1b;
    --deprecated-exclusive-bg-alt: rgb(73, 60, 52);

    --tree-node-bg: #2b1d3f;
    --tree-node-border: #d176e7;
    --tree-bg: #1f1d24;
    --tree-border: #a19cb1;
}


.token.comment {
    color: rgb(166, 136, 190) !important
}